aiohttp==3.9.3
chardet
click
dataclasses
farm-haystack[ocr,inference,pdf,preprocessing,file-conversion]
fastparquet==2024.2.0
fsspec
minio~=7.2.5
more_itertools
onnx==1.15.0
pandas~=1.5.3
pydantic==1.10.14
pyinstrument
PyMuPDF==1.23.21 # required for pdf extraction, post 1.23.22 fails parsing some govdocs pdfs
redis~=5.0.1
sentence_transformers==2.3.1
setuptools
unstructured-client==0.22.0
python-Levenshtein==0.25.0
python-docx
python-pptx==0.6.23
olefile==0.47
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp
pdfservices-sdk~=4.0.0
tabulate
