pid_file = "./vault-agent.pid"

vault {
  address = "https://prod.vault.nvidia.com"
}

auto_auth {
  method {
    type = "jwt"
    namespace = "nemo-llm"
    mount_path = "auth/jwt/nvidia/gitlab-master"
    config = {
       token = "${env:CI_JOB_JWT}"
       role = "nemo-llm-ci"
    }
  }
  exit_after_auth_failure = true
  exit_after_auth_retry_duration = "60s"
}

# docker build secrets
template {
  source      = "./.gitlab/vault/vault-ci.tmpl"
  destination = "./ci_secrets.env"
  command     = ""
  perms       = "600"
  error_on_missing_key = true
}
